.container-fluid {
  max-width: 85vw;
}

.card-img-breed {
  border-bottom-left-radius: calc(1rem - 1px);
  border-bottom-right-radius: calc(1rem - 1px);
}

.card-img-breed {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

@media (min-width: 767.98px) {
  .card-img-breed {
    max-height: 300px;
  }
}

@media (min-width: 991.98px) {
  .card-img-breed {
    max-height: 350px;
  }
}


